<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<meta charset="utf-8">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>处理的任务</title>
<meta name="keywords" content="">
<meta name="description" content="">
<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="assets/css/nprogress.css">
<link rel="stylesheet" type="text/css" href="assets/css/style_main.css">
<link rel="stylesheet" type="text/css" href="assets/css/font-awesome.min.css">
<link rel="apple-touch-icon-precomposed" href="assets/images/icon.png">
<link rel="shortcut icon" href="assets/images/favicon.png">
<script src="assets/js/jquery-2.1.4.min.js"></script>
<script src="assets/js/nprogress.js"></script>
<script src="assets/js/jquery.lazyload.min.js"></script>
<!--[if gte IE 9]>
<script src="assets/js/jquery-1.11.1.min.js" type="text/javascript"></script>
<script src="assets/js/html5shiv.min.js" type="text/javascript"></script>
<script src="assets/js/respond.min.js" type="text/javascript"></script>
<script src="assets/js/selectivizr-min.js" type="text/javascript"></script>
<![endif]-->
<!--[if lt IE 9]>
<script>window.location.href='upgrade-browser.html';</script>
<![endif]-->
<body>
<!--/*@thymesVar id="message" type="java"*/-->
<p style="width:100%;line-height:40px;background:#ff730e;color: white;text-align: center;position:fixed;z-index:99;" th:text="${message}" th:if="${not #strings.isEmpty(message)}" id="hint"></p>
<div  style="margin: 20px 20px 20px 20px">

    <div class="title" th:if="${not #strings.isEmpty(taskList)}">
        <h3>已被接受的任务</h3>
    </div>
    <div th:unless="${not #strings.isEmpty(taskList)}" style="width: 100%;height: 100%;text-align: center">
        <h3 th:text="${message}" th:if="${not #strings.isEmpty(message)}"></h3>
    </div>

    <table border="1" cellpadding="0" cellspacing="0" style="width: 100%;" th:if="${not #strings.isEmpty(taskList)}">
        <tr style="margin: 0 auto;width: 100%;height: 30px;text-align: center">
            <th>编号</th>
            <th>任务编号</th>
            <th>任务标题</th>
            <th>接单人</th>
            <th>接单时间</th>
            <th>状态</th>
            <th>订单Id</th>
            <th>订单截图</th>
            <th>完成时间</th>
            <th>操作</th>
        <tr>
        <tr align="center" style="height: 35px" th:each="userTaskJoinInfo : ${taskList}">
            <td th:text="${userTaskJoinInfo.getId()}"></td>
            <td th:text="${userTaskJoinInfo.getTask_id()}"></td>
            <td th:text="${userTaskJoinInfo.getTask_title()}"></td>
            <td th:text="${userTaskJoinInfo.getUsername()}"></td>
            <td th:text="${userTaskJoinInfo.getCreate_time()}"></td>
            <td th:text="${userTaskJoinInfo.getStatusStr()}"></td>
            <td th:text="${userTaskJoinInfo.getTaobao_order_id()}"></td>
            <td >
                <img height="22px" width="30px" onclick="showBigImgValue(this,0)" th:src="@{'showPhotos?fileName='+${userTaskJoinInfo.getScreen_pic()}}"th:if="${not #strings.isEmpty(userTaskJoinInfo.getScreen_pic())}" />
                <p th:unless="${not #strings.isEmpty(userTaskJoinInfo.getScreen_pic())}">未上传</p>
            </td>
            <td th:text="${userTaskJoinInfo.getUser_commit_time()}"></td>
            <td>
                <a href="JavaScript:void(0)" th:if="${userTaskJoinInfo.getStatus() eq 1 or userTaskJoinInfo.getStatus() eq 2}"  th:value="'showPhotos?fileName='+${userTaskJoinInfo.getReceipt_code()}"th:value1="${userTaskJoinInfo.getId()}"th:value2="${userTaskJoinInfo.getUsername()}" onclick="showBigImgValue(this,1)">微信返款</a>
                <a href="JavaScript:void(0)" th:if="${userTaskJoinInfo.getStatus() eq 1 or userTaskJoinInfo.getStatus() eq 2}"  th:value="'showPhotos?fileName='+${userTaskJoinInfo.getReceipt_code()}"th:value1="${userTaskJoinInfo.getId()}"th:value2="${userTaskJoinInfo.getUsername()}" onclick="updateTaskStatus(this)">已返款</a>
            </td>
        <tr>

    </table>

<!--
    <article class="excerpt excerpt-1" style="">
        <a class="focus" href="show" title="诚邀零花钱任务，下单立即返现"  ><img class="thumb" data-original="assets/images/renwu.png" src="assets/images/renwu.png" alt="诚邀零花钱任务，下单立即返现" style="display: inline;"></a>
        <header><a class="cat" href="show" title="零花钱任务" >零花钱任务<i></i></a>
            <h2><a href="show" title="诚邀零花钱任务，下单立即返现" target="_blank" >诚邀零花钱任务，下单立即返现</a>
            </h2>
        </header>
        <p class="meta">
            <time class="time"><i class="glyphicon glyphicon-time"></i> 2016-10-14</time>
            <span class="views"><i class="glyphicon glyphicon-eye-open"></i> 216</span>
        </p>
        <p class="note">诚邀零花钱任务，下单立即返现，2018冬季金丝绒运动裤女加绒哈伦侧边条纹休闲长裤卫裤加厚黃金绒¥126.002018冬季金丝绒运动裤女加绒哈伦侧边条纹休闲长裤卫裤加厚黃金绒¥126.002018冬季金丝绒运动裤女加绒哈伦侧边条纹休闲长裤卫裤加厚黃金绒¥126.00</p>
    </article>-->

    <!-- <nav class="pagination" style="display: none;">
         <ul>
             <li class="prev-page"></li>
             <li class="active"><span>1</span></li>
             <li><a href="?page=2">2</a></li>
             <li class="next-page"><a href="?page=2">下一页</a></li>
             <li><span>共 2 页</span></li>
         </ul>
     </nav>-->
    <div id="outerdiv" style="position:fixed;top:0;left:0;background:rgba(0,0,0,0.7);z-index:2;width:100%;height:100%;display:none;">
        <div id="innerdiv" style="position:absolute;">
            <div style="background: white;text-align: center;margin: 0 auto" id="nickname_div"><h4 id="nickname" style="color:#ef4300"></h4></div>
            <img id="bigimg" style="border:5px solid #fff;" src="" />
            <div style="background: white;text-align: center;height: 40px;margin: 0 auto" id="commit_btn_div"><button id="commit_btn" style="cursor: pointer;width: 100px;height: 30px;margin: 0 auto;padding-top: 3px;text-align: center;background: #ef4300;-moz-border-radius: 6px;-webkit-border-radius: 6px;border-radius: 6px;border: 1px solid #ff730e;color: white">返款完成</button></div>
        </div>
    </div>
</div>
</body>

<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/jquery.ias.js"></script>
<script src="assets/js/main_scripts.js"></script>
<script src="assets/js/admin_task_scripts.js"></script>
<script src="assets/js/show_big_img.js"></script>
</html>