<!DOCTYPE html>
<html lang="en">
<HEAD>
    <META http-equiv=Content-Type content="text/html; charset=utf-8">
    <LINK href="assets/css/admin.css" type="text/css" rel="stylesheet">
    <SCRIPT LANGUAGE="JavaScript">

        function gettime(){
            var d = new Date();
            document.getElementById("t").innerHTML =d;
            window.setTimeout("gettime()",1000);
        }
        window.onload = gettime;
    </SCRIPT>
</HEAD>
<BODY>
<TABLE cellSpacing=0 cellPadding=0 width="100%" align=center border=0>
    <TR height=28>
        <TD background=assets/images/title_bg1.jpg>当前位置:</TD>
    </TR>
    <TR>
        <TD bgColor=#b1ceef height=1></TD>
    </TR>
    <TR height=20>
        <TD background=assets/images/shadow_bg.jpg></TD>
    </TR>
</TABLE>
<TABLE cellSpacing=0 cellPadding=0 width="90%" align=center border=0>
    <TR height=100>
        <TD align=middle width=100><IMG height=100
                                        src="assets/images/admin_p.gif" width=90>
        </TD>
        <TD width=60>&nbsp;</TD>
        <TD>
            <TABLE height=100 cellSpacing=0 cellPadding=0 width="100%" border=0>

                <TR>
                    <TD>当前时间：<span id="t"></span></TD>
                </TR>
                <TR>
                    <TD style="FONT-WEIGHT: bold; FONT-SIZE: 16px"></TD>
                </TR>
                <TR>
                    <TD>欢迎进入网站管理中心！</TD>
                </TR>
            </TABLE>
        </TD>
    </TR>
    <TR>
        <TD colSpan=3 height=10></TD>
    </TR>
</TABLE><!--
<TABLE cellSpacing=0 cellPadding=0 width="95%" align=center border=0>
    <TR height=20>
        <TD></TD>
    </TR>
    <TR height=22>
        <TD style="PADDING-LEFT: 20px; FONT-WEIGHT: bold; COLOR: #ffffff"
            align=middle background=assets/images/title_bg2.jpg>您的相关信息</TD>
    </TR>
    <TR bgColor=#ecf4fc height=12>
        <TD></TD>
    </TR>
    <TR height=20>
        <TD></TD>
    </TR>
</TABLE>
<TABLE cellSpacing=0 cellPadding=2 width="95%" align=center border=0>
    <TR>
        <TD align=right width=100>登陆帐号：</TD>
        <TD style="COLOR: #880000">${memberInfo.membername}</TD>
    </TR>
    <TR>
        <TD align=right>真实姓名：</TD>
        <TD style="COLOR: #880000">${memberInfo.realname}</TD>
    </TR>
    <TR>
        <TD align=right>联系方式：</TD>
        <TD style="COLOR: #880000">${memberInfo.phone}</TD>
    </TR>
    <TR>
        <TD align=right>邮箱：</TD>
        <TD style="COLOR: #880000">${memberInfo.email}</TD>
    </TR>
    <TR>
        <TD align=right>等级：</TD>
        <TD style="COLOR: #880000">${memberInfo.memberlevel}</TD>
    </TR>
    <TR>
        <TD align=right>IP地址：</TD>
        <TD style="COLOR: #880000">${ip}</TD>
    </TR>
</TABLE>-->
</BODY>
</html>